*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #f6e1c4;
}
.wrapper{
    object-fit: width="100%";
    background-color: #f6e1c4;
}
.navbar{
    position: fixed;
    height: 90px;
    width: 100%;
    top: 0;
    left: 0;
    background: #d5b491;
    z-index: 1;
}
.navbar .logo{
    width: 250px;
    height: auto;
    padding: 4px 100px;
}
.navbar ul{
    float: right;
    margin-right: 20px;
}
.navbar ul li{
    list-style: none;
    margin: 0px;
    display: inline-block;
    line-height: 78px;
}
.navbar ul li a{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    padding: 6px 13px;
    text-decoration: none;
    transition: .4s;
}
.navbar ul li a:active{
    background: orange;
    border-radius: 2px;
}
.navbar ul li a:hover{
    background: bisque;
    border-radius: 2px;
    text-decoration: underline;
}
.navbar ul li a:visited{
    background: none;
    border-radius: 2px;
    color: rgb(110, 110, 110);
}
.wrapper .center{
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    user-select: none;
}
.center h1{
    color: black;
    font-size: 50px;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    width: 900px;
    font-weight: regular;
    text-align: center;
}
.center h2{
    color: black;
    font-size: 40px;
    font-weight: regular;
    margin-top: 10px;
    width: 885px;
    text-align: center;
}
p{
    font-size: 17px;
}
.center .buttons{
    margin: 30px 280px;
}
.buttons button{
    height: 50px;
    width: 150px;
    font-size: 20px;
    font-weight: 600;
    color: black;
    background: #b89c84;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    transition: .4s;
    border-radius: 50%;
}
.div{
    margin-top: 0;
    position: relative;
    top: 0px;
}
.buttons .btn2{
    margin-left: 25px;
}
.buttons button:hover{
    background: #f5e5d6;
}
.wrapper .about{
    position: relative;
    top: 100px;
    font-size: 20px;
}
.recipe{
    position: relative;
    top: 120px;
}
.recipe h3{
    font-size: 25px;
    text-align: center;
}
.recipe table{
    border: 2px solid black;
    text-align: center;
}
.food{
    position: relative;
    top: 120px;
    text-align: center;
}
.food pre{
    left: 10px;
}
.contact{
    position: relative;
    top: 120px;
    font-size: 30px;
    text-align: center;
}
.account{
    position: relative;
    top: 120px;
    text-align: center;
    font-size: 20px;
}
